body {
  font-family: 'Roboto', sans-serif;
  background-color: #F6F6F6;
  color: #333;
}

h1 {
  font-size: 32px;
  margin: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.contract, .existing-contracts {
  margin: 20px auto;
  max-width: 600px;
  padding: 40px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.contract:hover, .existing-contracts:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}

label {
  display: block;
  text-transform: uppercase;
  color: #666;
  margin: 20px 0 10px 0;
  font-size: 14px;
  letter-spacing: 1px;
}

input[type="text"] {
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
  width: 100%;
  margin-bottom: 20px;
}

input[type="text"]:hover,
input[type="text"]:focus {
  outline: none;
  border-color: #F58427;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.button {
  background-color: #1DA1F2; /* Twitter blue color */
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px;
  padding: 9px 25px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
}

.button:hover {
  background-color: #87CEFA;
}

.existing-contracts ul {
  padding: 10px;
  margin: 20px;
  background-color: #F6F6F6;
  font-size: 14px;
}

.existing-contracts ul > li {
  list-style: none;
  display: flex;
  margin: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.existing-contracts ul > li > div {
  margin: 0 10px;
  flex: 1;
}

.existing-contracts ul > li > :first-child {
  font-weight: bold;
  flex-basis: 20%;
}

.existing-contracts .complete {
  color: #5AA75A;
  text-align: center;
}
